<p>
  Fonkbox c'est ton émission musicale qui te fait voyager vers la planète funk
  et ses satellites Dans Fonkbox on te parle de funk bien sûr mais pas que. Le
  concept est simple, on te déniche pendant la semaine des pépites inconnues, et
  les plus grands classiques du genre pour te les partager tous les vendredis de
  21 à 22h sur les ondes de SUN et en podcast. On accompagne le tout de petites
  histoires et anecdotes sur les groupes, les musiques, ou les styles musicaux
  et hop on obtient une heure de pur bonheur avant que le week-end ne commence.
  Fonkbox c'est le soleil de tes nuits, ne t'inquiètes pas c'est normal...c'est
  la puissance de la FONK. A très vite sur les ondes Bisous
</p>
