<div class="row justify-content-evenly main-container">
  <div class="col-6 text-center py-auto">
    <!-- <div class=""> -->
      <img id="logo-img" [src]="mainImageUrl" alt="fonkbox logo" class="logo" />
    <!-- </div> -->
  </div>
  <div class="col-6 py-auto">
    <!-- <div class="my-auto"> -->
      <iframe
        title="deezer-widget"
        src="https://widget.deezer.com/widget/dark/show/3647547"
        class="iframe-deezer"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media; clipboard-write"
      ></iframe>
    <!-- </div> -->
  </div>
</div>
