<div class="h-100 row justify-content-evenly">
  <div class="col-6">
    <img
      id="logo-img"
      [src]="mainImageUrl"
      alt="fonkbox logo"
      class="mx-auto d-block align-middle"
    />
  </div>
  <div class="col-6">
    <iframe
      title="deezer-widget"
      src="https://widget.deezer.com/widget/dark/show/3647547"
      width="600"
      height="300"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media; clipboard-write"
    ></iframe>
  </div>
</div>
