$yellow: #ffed00;

#container {
  max-height: 100%;
  max-width: 100%
}

#logo-img{
  width: 95.6%;
}

div#main-content{
  text-align: center;
  background-color: $yellow;
}

#text-title{
  margin-top: 10%;
  text-align: justify;
}

#main-card {
  border: none;
  background-color: $yellow;
  padding-left: 5%;
  padding-right: 5%;
}

div.info-content{
  padding-top: 2%;
}

.card-member {
  position: absolute;
  height: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center
}

.ant-card-bordered{
  border: none;
}

#media-bouton-container{
  padding-right: 5%;
}

.button-media{
  background-color: $yellow;
  border-color: black;
}

h1.name-member{
  display: inline;
  text-align: center;
  color: #f1f1f1
}

p.pseudo-member {
  display:inline;
  text-align: center;
  color: #f1f1f1
}

p.details-member{
  color: #f1f1f1;
  text-align: justify;
}
