<div id="container">

  <div id="main-content">
    <nz-card id="main-card"
    (mouseover)="growContent()"
    (mouseout)="reduceContent()">
      <div nz-row>
        <div nz-col nzSpan="8" id="title-container" class="info-content">
          <h1 [@hideTitle]="isOverCarousel ? 'hide' : 'reveal'" id="main-title">BIENVENUE SUR</h1>
          <p id="text-title" [@hideTextTitle]="isOverCarousel ? 'hide' : 'reveal'">Dans Fonkbox on va te parler de funk mais surtout de musique.
            Le principe est simple, on te déniche pendant la semaine des pépites inconnues, et des plus grands classiques du genre pour te les partager tous les vendredis de 21 à 22h sur les ondes de SUN.
            Chaque semaine aura sa propre particularité. Italo disco, funk africain, calypso....et tant d'autres découvertes.
            Ne t'inquiètes pas c'est normal...c'est la puissance de la FONK.
            A très vite sur les ondes
            Bisous</p>
        </div>
        <div nz-col nzSpan="8">
          <img id="logo-img" src="../assets/FONKBOXLOGO.png"
          [@getMainContent]="isOverCarousel ? 'closed' : 'open'">
        </div>
        <div nz-col nzSpan="8"
        id="media-bouton-container" class="info-content"
        [@hideButtonMedia]="isOverCarousel ? 'hide' : 'reveal'">
          <div class="button-group" id="group-media-button">
            <h2 class="title-button-group">Nous suivre :</h2>
            <a
            nz-button [nzSize]="'large'" nzType="default" nzShape="round"
            class="button-media left-button"
            href="https://www.twitter.com/fonkbox"
            target="blank">
             <i nz-icon nzType="twitter" nzTheme="outline"></i>
             <span>Twitter</span>
           </a>
           <a
            nz-button [nzSize]="'large'" nzType="default" nzShape="round"
            class="button-media right-button"
            href="https://www.instagram.com/fonkbox"
            target="blank">
             <i nz-icon nzType="instagram" nzTheme="outline"></i>
             <span>Instagram</span>
           </a>
          </div>
          <div class="button-group" id="group-podcast-button">
            <h2 class="title-button-group">Nous ecouter :</h2>
            <a
            nz-button [nzSize]="'large'" nzType="default" nzShape="round"
            class="button-media left-button"
            href="https://podcasts.google.com/feed/aHR0cHM6Ly93d3cubGVzb251bmlxdWUuY29tL3BvZGNhc3QvMTgzNzY5L3Jzcy54bWw"
            target="blank">
             <i nz-icon nzType="google" nzTheme="outline"></i>
             <span>podcast</span>
           </a>
           <a
            nz-button [nzSize]="'large'" nzType="default" nzShape="round"
            class="button-media right-button"
            href="https://lesonunique.com/node/183769"
            target="blank"
            >
             <i nz-icon nzType="audio" nzTheme="outline"></i>
             <span>lesonunique</span>
           </a>
          </div>
        </div>
      </div>
    </nz-card>
  </div>

  <div nz-row id="carousel-container">
    <nz-card *ngFor="let member of staffMember"
      [id]="'member-' + member.id"
      class="card-member"
      [@openCloseCarousel]="isOverCarousel ? 'open' : 'closed'"
      [@openCloseCard]="member.isOpen ? 'open' : 'closed'"
      (mouseover)="open(member.id)"
      (mouseout)="close(member.id)"
      [ngStyle]="{'margin-left.%': (member.id * 25), 'width.%': 25, 'background-image': 'url(' + member.imgPath + ')'}">
      <h1 class="name-member">{{member.firstName}} {{member.lastName}}</h1>
      <p class="pseudo-member"><i *ngIf="member.pseudo">{{member.pseudo}}</i></p>
      <!-- <p class="details-member">{{member.details}}</p> -->
    </nz-card>
  </div>

</div>
