<div id="container">

  <div id="main-content">
    <nz-card id="main-card"
    (mouseover)="growContent()"
    (mouseout)="reduceContent()">
      <div nz-row>
        <div nz-col nzSpan="8" id="title-container">
          <h1 [@hideTitle]="getStaffMember ? 'hide' : 'reveal'">BIENVENUE</h1>
          <p id="text-title" [@hideTextTitle]="getStaffMember ? 'hide' : 'reveal'">Dans Fonkbox on va te parler de funk mais surtout de musique.
            Le principe est simple, on te déniche pendant la semaine des pépites inconnues, et des plus grands classiques du genre pour te les partager tous les vendredis de 21 à 22h sur les ondes de SUN.
            Chaque semaine aura sa propre particularité. Italo disco, funk africain, calypso....et tant d'autres découvertes.
            Ne t'inquiètes pas c'est normal...c'est la puissance de la FONK.
            A très vite sur les ondes
            Bisous</p>
        </div>
        <div nz-col nzSpan="8">
          <img id="logo-img" src="../assets/FONKBOXLOGO.png"
          [@getMainContent]="getStaffMember ? 'closed' : 'open'">
        </div>
        <div nz-col nzSpan="8" id="media-bouton-container" >
          <a
           nz-button [nzSize]="'large'" nzType="default" nzShape="round"
           class="button-media"
           href="https://www.twitter.com/fonkbox"
           target="blank"
           [@hideButtonMedia]="getStaffMember ? 'hide' : 'reveal'">
            <i nz-icon nzType="twitter" nzTheme="outline"></i>
            <span>Twitter</span>
          </a>
          <br />
          <a
           nz-button [nzSize]="'large'" nzType="default" nzShape="round"
           class="button-media"
           href="https://www.instagram.com/fonkbox"
           target="blank"
           [@hideButtonMedia]="getStaffMember ? 'hide' : 'reveal'">
            <i nz-icon nzType="instagram" nzTheme="outline"></i>
            <span>Instagram</span>
          </a>
        </div>
      </div>
    </nz-card>
  </div>

  <div nz-row id="carousel-container">
    <nz-card *ngFor="let member of staffMember"
      [id]="'member-' + member.id"
      class="card-member"
      [@getCarousel]="getStaffMember ? 'open' : 'closed'"
      [@openCloseCard]="member.isOpen ? 'open' : 'closed'"
      (mouseover)="open(member.id)"
      (mouseout)="close(member.id)"
      [ngStyle]="{'margin-left.%': (member.id * 25), 'width.%': 25, 'background-image': 'url(' + member.imgPath + ')'}">
      <h1 class="name-member">{{member.firstName}} {{member.lastName}}</h1>
      <i *ngIf="member.pseudo" class="pseudo-member">{{member.pseudo}}</i>
      <p class="details-member">{{member.details}}</p>
    </nz-card>
  </div>

</div>
