$yellow: #ffed00;

div {
  background-color: $yellow ;
  height: 100%;
  img {
    width: 100%;
  }
  h1, h3 {
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
    line-height: 125%;
  }
}

#text-title{
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}
