$yellow: #ffed00;
$background-footer: rgb(48, 45, 45);

#text-title{
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

.button-group{
  display: inline-block;
  text-align: center;
  p{
    text-align: center;
    color: aliceblue;
  }
  .button-media{
    text-align: center;
    color: aliceblue;
    background-color: $background-footer;
    border-color: aliceblue;
  }
}
