<div [@Opening]="true" class="container">
  <img id="logo-img" class="logo-img" src="../assets/FONKBOXLOGO.webp">

  <!-- <h1>Vous êtes bien sur le site officiel de Fonkbox</h1>
  <h3>Le site mobile est en cours de développement (mais ça marche sur un ordinateur)</h3> -->

  <p id="text-title" [@Opening]="true">Dans Fonkbox on va te parler de funk mais surtout de musique.
    Le principe est simple, on te déniche pendant la semaine des pépites inconnues, et des plus grands classiques du genre pour te les partager tous les vendredis de 21 à 22h sur les ondes de SUN.
    Chaque semaine aura sa propre particularité. Italo disco, funk africain, calypso....et tant d'autres découvertes.
    Ne t'inquiètes pas c'est normal...c'est la puissance de la FONK.
    A très vite sur les ondes
    Bisous</p>
</div>
