<header class="fixed-top">
    <div class="row justify-content-evenly">
      <div class="col-2 logo-container">
        <img
          id="logo-img"
          [src]="mainImageUrl"
          alt="fonkbox logo"
          class="mx-auto d-block"
        />
      </div>
      <div class="col-2">
        <a href="#">&#201;mission</a>
      </div>
      <div class="col-2">
        <span class="d-flex align-items-center"><a href="#">&#201;couter</a></span>
      </div>
      <div class="col-2">
        <a href="#">&#201;quipe</a>
      </div>
    </div>
</header>

<main>
  <app-show-resume></app-show-resume>
  <br>
  <app-last-show></app-last-show>
  <br>
  <app-team></app-team>
</main>

<footer>

</footer>
