header {
  height: 90px;
  background-color: rgb(38, 37, 37);
  a,span {
    color: azure;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    &.text-center{
      margin-left: auto;
      margin-right: auto;
    }
  }
  .logo-container{
    img{
      width: 65px;
      border-radius: 25%;
    }
  }
}

main{
  margin-top: 90px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: azure;
  padding: 25px 100px;
}

footer{
  background-color: rgb(38, 37, 37);
  height: 90px;
}
