<header class="fixed-top">
    <div class="h-100 row justify-content-evenly">
      <div class="col-3 logo-container d-flex align-items-center">
        <img
          id="logo-img"
          [src]="mainImageUrl"
          alt="fonkbox logo"
          class="mx-auto d-block align-middle"
        />
      </div>
      <div class="col-2 d-flex align-items-center">
        <span role="button" class="text-center align-middle">&#201;mission</span>
      </div>
      <div class="col-2 d-flex align-items-center">
        <span role="button" class="text-center align-middle">&#201;couter</span>
      </div>
      <div class="col-2 d-flex align-items-center">
        <span role="button" class="text-center align-middle">&#201;quipe</span>
      </div>
      <div class="col-3 d-flex align-items-center">

      </div>
    </div>
</header>

<main>
  <app-presentation></app-presentation>
  <br>
  <app-show-resume></app-show-resume>
  <br>
  <app-team></app-team>
</main>

<footer>

</footer>
