$yellow: #ffed00;
$text-color-white: #f1f1f1;
@font-face {
  font-family: "Retronoid";
  src: url("../../assets/font/retronoid/Retronoid.otf") format("opentype");
  }

#container {
  max-height: 100%;
  max-width: 100%
}

#logo-img{
  width: 95.6%;
}

h1#main-title{
  font-family: 'Retronoid';
}

div#main-content{
  text-align: center;
  background-color: $yellow;
}

#text-title{
  margin-top: 10%;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
}

.title-button-group{
  font-family: 'Retronoid';
}

#main-card {
  border: none;
  background-color: $yellow;
  padding-left: 5%;
  padding-right: 5%;
}

div.info-content{
  padding-top: 2%;
}

.card-member {
  position: absolute;
  height: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center
}

.ant-card-bordered{
  border: none;
}

#media-bouton-container{
  padding-right: 5%;
}

.button-media{
  background-color: $yellow;
  border-color: black;
  margin-bottom: 5%;
  font-family: 'Raleway', sans-serif;
}

h1.name-member{
  display: inline;
  text-align: center;
  color: $text-color-white;
  font-family: 'Raleway', sans-serif;
}

p.pseudo-member {
  display:inline;
  text-align: center;
  color: $text-color-white;
}

p.details-member{
  color: $text-color-white;
  text-align: justify;
  margin-top: 70%;
}

.left-button{
  margin-right: 2%;
}

.right-button{
  margin-left: 2%;
}
